<h1>Info</h1>
<br/>
<br/>
<p>This is a demo app created as part of the tutorial for Rails Girls KL 2017.</p>
<p>Disclaimer: All pictures and content used do not belong to the app creator, but merely taken from the Internet for demonstration purposes only. They belong to their respective creators as found on the Internet. :)</p>

